html, body {
    height: 100%;
    overflow: hidden;
}

.main {
    width: 100vw;
    height: 100vh;
}

#createMesaMessage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 mesas por linha */
    grid-gap: 0.5em;
    width: 100%;
    margin: auto;
    border-radius: 10px;
    border: 1px solid rgb(88, 88, 88);
    padding: 0.5em;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.grid-item img {
    max-width: 80%;
    max-height: 80%;
}

.grid-item.empty {
    background-color: #e0e0e0;
    color: #888;
    font-size: 24px;
}

.confirmation-modal {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1000;
}

#mesa-details {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
    max-height: 90vh;
}

.ml-3 {
    margin-left: 1rem;
}

textarea {
    resize: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.stat-plus:hover, .stat-minus:hover {
    cursor: pointer;
    color: #888;
}